@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
	background-color: #55acee;
}

h1, h2, h3 {
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.klawisze {
	text-align: center;
}
.trigger {
	width: 20%;
	height: 35px;
	background-color: #55acee;
	border-radius: 4px;
	color: #fff;
	margin-top: 100px;
}
.twitter {
	text-align: center;
}
.tweegger {
	width: 20%;
	height: 35px;
	background-color: #55acee;
	border-radius: 4px;
	color: #fff;
	margin-top: 50px;
}
a {
	text-decoration: none;
	color: #fff;
}